.dashboard {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #F3F4E5; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard h1 {
    margin-bottom: 20px;
    color: #59554E; 
}

.oferta {
    display: flex;
    border: 1px solid #A1C1BE; 
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.oferta:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.oferta img {
    max-width: 400px;
    max-height: 200px;
    margin-right: 80px;
    border-radius: 5px;
}

.oferta div {
    flex: 1;
}

.oferta h2 {
    margin: 0;
    color: #59554E; 
}

.oferta p {
    margin: 5px 0;
    color: #A8462D; 
}

.oferta button {
    background: #A1C1BE; 
    color: #FFFFFF; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.oferta button:hover {
    background: #59554E; 
}

.button-disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
}

.busqueda {
    margin-bottom: 20px;
}

.busqueda input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #A1C1BE; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.busqueda select {
    padding: 10px;
    width: 100%;
    border: 1px solid #A1C1BE; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.busqueda button {
    padding: 10px;
    background: #A1C1BE; 
    color: #FFFFFF; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#buscar{
    background-color: #A1C1BE;
}
#buscar:hover{
    background-color: #666;
}


.perfil {
    display: flex;
    align-items: center;
}

.perfil img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
