* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #FFFFFF; 
    color: #59554E; 
}

header {
    background: #A1C1BE; 
    color: #59554E; 
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    color: #59554E; 
    text-decoration: none;
    padding: 5px 10px;
    transition: background 0.3s;
}

header ul li a:hover {
    background: #E2E3D9; 
    border-radius: 5px;
}

.hero {
    background: url('../imagenes/hero-bg.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #59554E; 
}

.contenido-hero {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgb(232 225 225 / 50%);
    border-radius: 10px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.botones-hero .btn {
    display: inline-block;
    background: #A1C1BE; 
    color: #59554E; 
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.botones-hero .btn:hover {
    background: #E2E3D9; 
}

.caracteristicas {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background: #F3F4E5; 
}

.caracteristica {
    text-align: center;
    max-width: 300px;
}

.caracteristica h2 {
    margin-bottom: 20px;
    color: #59554E; 
}

.caracteristica p {
    font-size: 16px;
}

.formulario {
    margin-top: 100px;
    max-width: 500px;
    padding: 20px;
    background: #F3F4E5; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.formulario h1 {
    margin-bottom: 20px;
    color: #59554E; 
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #59554E; 
}

.formulario input,
.formulario textarea,
.formulario select {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #A1C1BE; 
    border-radius: 5px;
}



.formulario button {
    margin-left: 10px;
    background: #A1C1BE; 
    color: #59554E; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.formulario button:hover {
    background: #E2E3D9; 
}

.contenido-principal {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

.contenido-principal h1 {
    margin-bottom: 20px;
    color: #59554E; 
}

.contenido-principal p {
    margin-bottom: 20px;
    color: #59554E; 
}

.acciones .btn {
    display: inline-block;
    background: #A1C1BE; 
    color: #59554E; 
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.acciones .btn:hover {
    background: #E2E3D9; 
}

.ofertas {
    max-width: 800px;
    margin: 40px auto;
}

.oferta {
    background: #F3F4E5; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.oferta h2 {
    margin-bottom: 10px;
    color: #59554E; 
}

.oferta p {
    margin-bottom: 10px;
    color: #59554E; 
}

.oferta button {
    background: #A1C1BE; 
    color: #59554E; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.oferta button:hover {
    background: #E2E3D9; 
}

.sobre-nosotros {
    margin-top: 90px;
    max-width: 800px;
    padding: 20px;
    background: #F3F4E5; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sobre-nosotros h1 {
    margin-bottom: 20px;
    color: #59554E; 
}

.sobre-nosotros p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #59554E; 
}

.formulario p a {
    color: #59554E; 
    text-decoration: none;
    font-weight: bold;
}

.formulario p a:hover {
    text-decoration: underline;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #F3F4E5; 
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #A1C1BE; 
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

.modal-header {
    font-size: 18px;
    margin-bottom: 15px;
    color: #59554E; 
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
}

.modal-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.modal-buttons .confirm {
    background-color: #A1C1BE; 
    color: #59554E; 
}

.modal-buttons .confirm:hover {
    background-color: #E2E3D9; 
}

.modal-buttons .cancel {
    background-color: #567b78; 
    color: #BDC4B4; 
}

.modal-buttons .cancel:hover {
    background-color: #59554E; 
}
