/* Estilos generales para el cuerpo */
body {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    background-color: #f0f0f0;
    background-image: url('../images/tgh.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana del navegador */
}

/* Contenedor principal que envuelve el contenido y el footer */
.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Estilos para el contenedor principal */
main {
    padding: 20px;
    text-align: center;
    flex: 1; /* Permite que main ocupe el espacio disponible */
}

/* Estilos para el título principal */
main h2 {
    font-size: 2em;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilos para el contenedor de empleos */
.empleos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilos para cada empleo */
.empleo {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.empleo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.empleo img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.empleo h3 {
    font-size: 1.5em;
    color: rgb(198, 144, 238);
    margin: 10px 0;
}

.empleo p {
    font-size: 14px;
    color: rgb(198, 144, 238);
}

.empleo button {
    background-color: rgb(182, 121, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.empleo button:hover {
    background-color: rgba(135, 49, 240, 0.8);
}

/* Estilos para el mensaje cuando no hay empleos */
main p {
    font-size: 1.2em;
    color: black;
    font-weight: bold;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
