/* Estilos generales */
html, body {
    height: 100%;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}

body {
    background-image: url('../images/rfev.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/* Estilo del contenedor principal */
main {
    flex: 1;
    padding-top: 100px; /* Espacio superior para evitar que el contenido quede oculto detrás del header */
    padding-bottom: 50px; /* Espacio inferior para evitar que el contenido quede oculto detrás del footer */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

/* Estilo del título del empleo */
h2 {
    margin-bottom: 20px;
    color: black;
    margin-right: 600px;
}

/* Estilo de la imagen del empleo */
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    margin-right: 600px;
}

/* Estilo del texto de descripción */
p {
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo transparente */
    padding: 20px;
    border: 2px solid #6f00f6; /* Bordes en color morado */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

/* Estilo del textarea */
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(111, 0, 246);
    margin-bottom: 15px;
    font-family: "Josefin Sans", sans-serif;
    outline: none;
}

/* Estilo del input de archivo */
input[type="file"] {
    display: block;
    margin: 10px auto;
    color: black;
}

/* Estilo del botón */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: rgb(110, 0, 244);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: rgb(111, 0, 246);
}

/* Estilo de los mensajes de error */
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
}
footer {
    background-color: #333; /* Color de fondo del footer */
    color: white; /* Color de texto del footer */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}