body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/rfev.jpg'); /* Ruta a tu imagen de fondo */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

main {
    padding: 20px;
    margin-left: 80px; /* Ajuste para el espacio del sidebar si aplica */
    transition: margin-left 0.3s;
    color: white;
    margin-top: 80px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black; /* Blanco para contrastar con el fondo oscuro */
    font-size: 24px;
    font-weight: bold;

}


.postulaciones-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.postulacion {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 2px solid #6f00f6; /* Borde morado */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 10px;
    color: black;
    text-align: left;
}

.postulacion img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.postulacion-info h3 {
    margin: 0;
    font-size: 18px;
    color: black;
}

.postulacion-info p {
    margin: 5px 0;
    color: #333;
}

.postulacion-acciones {
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.button {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
}

.examinar {
    background-color: rgb(110, 0, 244);
}

.examinar:hover {
    background-color: rgb(111, 0, 246);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
