/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(47, 8, 94);;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar img {
    height: 60px;
    margin-right: 50px;
    width: 40px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.navbar a:hover {
    color: rgb(111, 0, 246);;
    border-bottom: 2px solid rgb(111, 0, 246);;
}

.navbar .user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .user-info img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar .user-info a {
    color: white;
    font-weight: 500;
}

.navbar .user-info a:hover {
    color: #007bff;
}

/* Estilos para los enlaces del header cuando hay errores */
.error {
    color: red;
}
